@import url('https://raw.githubusercontent.com/HungNguyen81/cukcuk.page/main/css/base/button.css');
@import url('https://raw.githubusercontent.com/HungNguyen81/cukcuk.page/main/css/base/text-box.css');
@import url('https://raw.githubusercontent.com/HungNguyen81/cukcuk.page/main/css/base/combo-box.css');
body {
    font-family: MISAGoogleSans;
    font-size: 13px;
    margin: 0;
}

@font-face {
    font-family: MISAGoogleSans;
    src: url('../content/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: MISAGoogleSans-Bold;
    src: url('../content/font/GoogleSans-Bold.otf');
}

@font-face {
    font-family: MISAGoogleSans-Italic;
    src: url('../content/font/GoogleSans-Italic.otf');
}
