.container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.637);
    width: 100%;
    height: 100%;
    /* transform: scale(0); */
    /* visibility: hidden; */
    z-index: 12;
    overflow-y: auto;
}

.container.close {
    transition: visibility 1s;
    visibility: visible;
}

.container.close {
    transition: visibility 1s;
    visibility: hidden;
}

.form-container {
    width: 666px;
    min-height: 850px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    border-radius: 4px;
    z-index: 13;
}

.form-container.open {
    animation: openform 1s forwards;
}

.form-container.close {
    animation: closeform 1s forwards;
}

@keyframes openform {
    0% {
        transform: translate(-50%, 0) scale(0);
    }

    50% {
        transform: translate(-50%, 0) scale(1.1);
    }

    70% {
        transform: translate(-50%, 0) scale(0.95);
    }

    95% {
        transform: translate(-50%, 0) scale(1.05);
    }

    100% {
        transform: translate(-50%, 0) scale(1);
    }
}

@keyframes closeform {
    100% {
        transform: translate(-50%, 0) scale(0);
    }

    50% {
        transform: translate(-50%, 0) scale(1.2);
    }

    30% {
        transform: translate(-50%, 0) scale(0.95);
    }

    5% {
        transform: translate(-50%, 0) scale(1.1);
    }

    0% {
        transform: translate(-50%, 0) scale(1);
    }
}

/* Form header */

.form-header {
    position: absolute;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
}

.form-header div {
    display: inline-block;
}

.form-header>.header {
    position: absolute;
    top: 20px;
    left: 24px;
    font-size: 15px;
}

.form-header #close-button {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url('../../assets/icon/x.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 2px 2px;
}

#close-button:hover {
    background-color: #ccc;
}

#close-button:active {
    background-color: #bbb;
}

/* Form body */

.form-body {
    width: 100%;
    /* height: calc(850px - 56px - 60px); */
    height: fit-content;
    position: absolute;
    top: 56px;
    box-sizing: border-box;
    display: flex;
    /* align-items: center; */
    flex-flow: row;
    /* overflow: auto;  */
    z-index: 13;
}

.form-body .body-avatar {
    width: 150px;
    position: absolute;
}

.form-body .body-form {
    width: 500px;
    /* height: calc(850px - 56px - 60px);  */
    position: absolute;
    right: 16px;
    z-index: 13;

}

/* Avatar Column */

.body-avatar {
    display: flex;
    flex-flow: column;
    align-items: center;

}

.avatar {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 4px;
    background-image: url('../../assets/img/default-avatar.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #bbb;
    cursor: pointer;
}

.note {
    width: 118px;
    text-align: center;
    margin-left: 8px;
    font-size: 11px;
}


/* Main Form */

.body-form {
    display: flex;
    flex-flow: column;
    /* background-color: burlywood; */
    /* overflow-y: auto; */
}

.header-2 {
    padding-top: 8px;
    margin-left: 4px;
    flex-shrink: 0;
}

.header-line {
    width: 72px;
    height: 4px;
    background-color: #019160;
    margin-top: 8px;
    margin-bottom: 8px;
}

.input-field {
    display: inline-block;
}

.input-label {
    margin-left: 4px;
    /* margin-bottom: 4px; */
}

.required {
    color: red;
}

.input-form {
    width: 242px;
    margin-top: 4px;
    margin-bottom: 16px;
    margin-left: 4px;
    font-family: MISAGoogleSans;
}

.birthday-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: teal;
    top: 155px;
    left: 164px;
    background-image: url('../../assets/icon/add.png');
    background-size: contain;
}

.form-dropdown {
    margin-top: 4px;
    margin-bottom: 16px;
    width: 242px;
    margin-left: 4px;
}

.form-dropdown .dropdown-data {
    width: 242px;
    z-index: 14;
}

#salary input {
    display: flex;
    align-items: center;
}

.header-row,
.input-row {
    display: flex;
    /* align-items: center;     */
}

.money-unit {
    display: inline-block;
    /* background-color: red; */
    text-align: center;
    color: #454545;
    position: absolute;
    right: 24px;
    line-height: 80px;
}

.input-salary {
    padding-right: 56px !important;
    margin-bottom: 0px;
    text-align: right;
}

/* Form footer */

.form-footer {
    position: absolute;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #E9EBEE;
    border-radius: 0 0 4px 4px;
    justify-content: flex-end;
    z-index: 12;
}

/* Custom scrollbar */
/* ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: red;
}
::-webkit-scrollbar-thumb {
    background: green;
}
::-webkit-scrollbar-thumb:hover {
    background: #454545;
} */