body{
    overflow: hidden;
}

.content {
    position: absolute;
    height: calc(100vh - 49px);
    top: 49px;
    left: 226px;  
    width: 100%;
    background-color:#E9EBEE;  
}

/* Heading */

.content-heading {
    position: absolute;
    left: 0px;
    width: calc(100vw - 226px);
    margin: 24px 0;
}

.content-heading .button-icon {
    position: absolute;
    right: 16px;
}

.title {
    font-family: MISAGoogleSans-Bold;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 16px;
    line-height: 40px;
}

/* Search box */

.content-search {
    position: absolute;
    left: 0px;
    top: 72px; /* = 24 + 40 + 8 */
    width: calc(100vw - 226px);
    height: 40px;
}

.search-field {
    height: 40px;
    padding: 0 40px !important;
    width: 335px;
    margin-left: 16px;
    position: absolute;
}
.search-field::placeholder{
    font-size: 13px;    
}

.search-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 5;
    left: 32px;
    top: 12px;
    background-image: url('../../assets/icon/search.png');
    background-size: 16px;
}

/* dropdowns */

.dropdown-departments,
.dropdown-positions {
    width: 220px;
    position: absolute;
    line-height: 40px;
    margin-left: 16px;
    z-index: 2;
}
.dropdown-departments{
    left: calc(335px + 16px);
}
.dropdown-positions {
    left: calc(335px + 32px + 220px);
}

/* Page navigator */

.content-page-navigator {
    position: fixed;
    bottom: 0px;
    height: 56px;
    border-top: 4px solid #ccc;
    width: calc(100vw - 258px + 32px);
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #ccc;
    box-sizing: border-box;
    z-index: 5;
}

.content-page-navigator > *{
    flex: 1 100%;
}

.content-page-navigator > .navigator-left{
    padding-right: 16px;
    position: absolute;
    left: 16px;
}
.content-page-navigator > .navigator-center{
    position: absolute;
    display: flex;
    align-items: center;    
    padding: 8px;
}
.content-page-navigator > .navigator-right{
    position: absolute;
    right: 16px;
}

.button-current-page{
    background-color: #019160;
    color: #fff;
    border-color: #019160;
}
.button-current-page:hover{
    background-color: #2FBE8E;
    border-color: #2FBE8E;
}
.button-current-page:active{
    background-color: #018075;
    border-color: #018075;
}

/* Navigator buttons */

.button-firstpage{
    background-image: url('../../assets/icon/btn-firstpage.svg');
    background-repeat: no-repeat;
    background-position: center;    
}
.button-lastpage{
    background-image: url('../../assets/icon/btn-lastpage.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.button-next-page{
    background-image: url('../../assets/icon/btn-next-page.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.button-prev-page{
    background-image: url('../../assets/icon/btn-prev-page.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.page-buttons{
    max-width: 460px;        
}

/* Number of rows dropdown box */

.drop-number-of-row {
    display: flex;
    flex-direction: column-reverse;    
    position: fixed;
    right: 16px;
    bottom: 8px;   
}
/* .number-of-rows-icon{
    background-image: none;
    text-align: center;
} */

