body{
    overflow: hidden;
}

.content {
    position: absolute;
    height: calc(100vh - 49px);
    top: 49px;
    left: 226px;  
    width: 100%;
    background-color: #ccc;  
}

/* Heading */

.content-heading {
    position: absolute;
    left: 0px;
    width: calc(100vw - 226px);
    margin: 24px 0;
}

.content-heading .button-icon {
    position: absolute;
    right: 16px;
}

.content-heading .icon-button {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    display: inline-block;
    background-image: url('../../content/icon/add.png');
    background-repeat: no-repeat;
    background-size: 18px;
}

.title {
    font-family: MISAGoogleSans-Bold;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 16px;
    line-height: 40px;
}

/* Search box */

.content-search {
    position: absolute;
    left: 0px;
    top: 72px; /* = 24 + 40 + 8 */
    width: calc(100vw - 226px);
    height: 40px;
}

.search-field {
    height: 40px;
    padding: 0 40px;
    width: 335px;
    margin-left: 16px;
    position: absolute;
}

.search-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 5;
    left: 32px;
    top: 12px;
    background-image: url('../../content/icon/search.png');
    background-size: 16px;
}

/* dropdowns */

.dropdown-departments,
.dropdown-positions {
    width: 220px;
    position: absolute;
    line-height: 40px;
    margin-left: 16px;
    z-index: 2;
}
.dropdown-departments{
    left: calc(335px + 16px);
}
.dropdown-positions {
    left: calc(335px + 32px + 220px);
}

/* Delete button */
#button-delete{    
    position: absolute;
    background-color: #f65454;
    right: 180px;
    /* top: 0px;    */
    visibility: hidden;
}

/* Refresh button */

.button-refresh {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    right: 16px;
    top: 0px;

    border-radius: 4px;
    background-image: url('../../content/icon/refresh.png');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 8px 8px;
    cursor: pointer;
}
.button-refresh:hover{
    background-color: #bbb;
}
.button-refresh:active{
    background-color: #454545;
}
/* Table content */
.content-table {
    position: absolute;
    top: 128px;
    max-height: calc(100vh - 225px);
    background-color: #fff;
    width: calc(100vw - 226px - 32px);
    margin-left: 16px;
    overflow-x: auto;
    overflow-y: hidden; 
    z-index: 1;
}

.table-employee {
    height: 100%;
    width: 100%;
    border-collapse: collapse;       
}

.table-employee th {
    height: 40px;
    text-align: left;
    padding-left: 10px;
    font-family: MISAGoogleSans-Bold;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* .table-employee tbody tr:nth-child(odd) {
    background-color: #fafafa;
} */

.table-employee tbody tr {
    border-top: 1px solid #ccc;
    height: 40px;
    cursor: pointer;
}
.table-employee tbody tr:hover{
    background-color: #E9EBEE;
}
.table-employee tbody tr:active{
    background-color: #EBF4FF;
}

.table-employee tbody td {
    padding-left: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkbox-container{    
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.checkbox-container input{
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox-container .checkmark{
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
    text-align: center;    
}
.checkmark>.check {    
    color: white;
    font-size: 12px;
    margin: 2px;
}
.checkbox-container input:checked ~ .checkmark {
    background-color: #019160;
    border-color: #019160;    
}

/* Delete checkbox */
.table-employee tbody td:nth-child(1),
.table-employee th:nth-child(1) {
    width: 42px;
}

/* Employee ID */
.table-employee tbody td:nth-child(2),
.table-employee th:nth-child(2) {
    width: 100px;        
}

/* Full name */
.table-employee tbody td:nth-child(3),
.table-employee th:nth-child(3) {
    width: 140px;
}
/* Gender */
.table-employee tbody td:nth-child(4),
.table-employee th:nth-child(4) {
    width: 60px;
}

/* birthday */
.table-employee thead th:nth-child(5),
.table-employee tbody td:nth-child(5) {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
}

/* Phone number */
.table-employee tbody td:nth-child(6),
.table-employee th:nth-child(6) {
    width: 100px;    
}

/* Email */
.table-employee tbody td:nth-child(7),
.table-employee th:nth-child(7) {
    width: 200px;
}

/* Position */
.table-employee tbody td:nth-child(8),
.table-employee th:nth-child(8) {
    width: 140px;    
}

/* Department */
.table-employee tbody td:nth-child(9),
.table-employee th:nth-child(9) {
    width: 120px;    
}

/* salary */
.table-employee th:nth-child(10), 
.table-employee tr td:nth-child(10) {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    width: 120px;
}

/* Work status */
.table-employee tbody td:nth-child(11),
.table-employee th:nth-child(11) {
    width: 140px;    
}

table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table tbody {
    display: block;
    margin-top: 0;
    padding: 0;
    height: calc(100vh - 277px);
    overflow-y: scroll;
}

table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* Page navigator */

.content-page-navigator {
    position: fixed;
    bottom: 0px;
    height: 56px;
    border-top: 4px solid #ccc;
    width: calc(100vw - 258px + 32px);
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #ccc;
    box-sizing: border-box;
    z-index: 5;
}

.content-page-navigator > *{
    flex: 1 100%;
}

.content-page-navigator > .navigator-left{
    padding-right: 16px;
    position: absolute;
    left: 16px;
}
.content-page-navigator > .navigator-center{
    position: absolute;
    display: flex;
    align-items: center;    
    padding: 8px;
}
.content-page-navigator > .navigator-right{
    position: absolute;
    right: 16px;
}

.button-current-page{
    background-color: #019160;
    color: #fff;
    border-color: #019160;
}
.button-current-page:hover{
    background-color: #2FBE8E;
    border-color: #2FBE8E;
}
.button-current-page:active{
    background-color: #018075;
    border-color: #018075;
}

/* Navigator buttons */

.button-firstpage{
    background-image: url('../../content/icon/btn-firstpage.svg');
    background-repeat: no-repeat;
    background-position: center;    
}
.button-lastpage{
    background-image: url('../../content/icon/btn-lastpage.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.button-next-page{
    background-image: url('../../content/icon/btn-next-page.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.button-prev-page{
    background-image: url('../../content/icon/btn-prev-page.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.page-buttons{
    max-width: 460px;        
}

/* Number of rows dropdown box */

.drop-number-of-row {
    display: flex;
    flex-direction: column-reverse;    
    position: fixed;
    right: 16px;
    bottom: 8px;   
}
.number-of-rows-icon{
    background-image: none;
    text-align: center;
}

/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;    
}

/* Track */
::-webkit-scrollbar-track {
    background: #e5e5e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbbbbb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #454545;
}