.combobox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.combobox-input{
    width: 100%;    
    background-color: #fff;    
}

.combobox-icon-container{
    background-color: transparent;
    width: 38px;
    height: 38px;
    margin: 0;    
    position: absolute;    
    right: 1px;        
    border-radius: 0px 4px 4px 0px;   
    border-left: 1px solid #ccc; 
    display: flex;
    align-items: center;    
    justify-content: center;
}

.combobox-icon{
    width: 16px;
    height: 16px;
    background-image: url('../../content/icon/drop-icon.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;    
}
.combobox-icon-container:hover {
    background-color: #ccc;
}
.combobox-icon-container:active{
    background-color: #bbb;
}