.combo-box{
    height: 40px;
    border: 1px solid #bbbbbb;
    padding-left: 16px;
    
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    cursor: pointer;
}

.combo-box:active{
    border-color: #019160;
}

.combo-box-item{
    padding-right: 56px;
}
.combo-box-icon {
    width: 16px;
    height: 16px;
    margin: 0 12px;
    background-image: url('../../content/icon/drop-icon.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
}
