.button {
    height: 40px;
    width: fit-content;
    border-radius: 4px;
    color: #ffffff;
    background-color: #019160;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    white-space: nowrap;
}
.button.disable{
    pointer-events: none;
    opacity: 0.4;
}

.button-icon {    
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;    
}
.icon-button.icon-add {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    display: inline-block;
    background-image: url('../../assets/icon/add.png');
    background-repeat: no-repeat;
    background-size: 18px;
}
.icon-button.icon-delete{
    width: 18px;
    height: 18px;
    margin-right: 8px;
    display: inline-block;
    background-image: url('../../assets/icon/delete.png');
    background-repeat: no-repeat;
    background-size: 18px;
    filter: invert();
}

.button:hover {
    background-color: #2FBE8E;
}

.button:active {
    background-color: #018075;
}

/* Button page number */

.button-page-number{
    height: 40px;
    width: 40px;
    color: #000;
    border-radius: 50%;
    background-color:#ccc;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    border: 1px solid #bbb;
}
.button-page-number:hover{
    background-color: #fff;
    border-color: #fff;
}
.button-page-number:active{
    background-color: #019160;
    color: #fff;
    border-color: #019160;
}


/* Navigator button */

.button-navigator{
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    background-color: transparent; 
    margin-left: 4px;
    margin-right: 4px;  
    cursor: pointer;
}
.button-navigator:hover{
    background-color: #fff;
}

.button-save{
    margin-left: 16px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.icon-save{
    width: 16px;
    height: 16px;
    background-image: url('../../assets/icon/document-online.png');
    background-size: 16px;
    filter: brightness(10);
    margin-right: 8px;
}

.button-cancel{
    background-color: transparent;
    color: #000;
    box-sizing: border-box;
}
.button-cancel:hover{
    background-color: #fff;
}
.button-cancel:active{
    background-color: #ccc;
}

/* Delete button */
.button.button-delete{    
    background-color: #f65454;
    margin-right: 16px;
}
#button-delete:hover{
    background-color: #f33939;
}

/* Refresh button */
.button-refresh {
    width: 40px;
    /* height: 40px; */
    background-color: #fff;
    border: 1px solid #ccc;
    /* position: absolute;
    right: 16px;
    top: 0px; */
    /* border-radius: 4px; */
    /* background-image: url('../../assets/icon/refresh.png');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 8px 8px; */
    /* cursor: pointer; */
    color: #ccc;
    font-size: 150%;
    font-weight: 50;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0;
}
.button-refresh:hover{
    background-color: #bbb;
    color: white;
}
.button-refresh:active{
    background-color: #454545;
}