/* Page navigator */

.content-page-navigator {
    position: fixed;
    bottom: 0px;
    height: 56px;
    border-top: 4px solid #E9EBEE;
    width: calc(100vw - 258px + 32px);
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #E9EBEE;
    box-sizing: border-box;
    z-index: 5;
}

.content-page-navigator > *{
    flex: 1 100%;
}

.content-page-navigator > .navigator-left{
    padding-right: 16px;
    position: absolute;
    left: 16px;
}
.content-page-navigator > .navigator-center{
    position: absolute;
    display: flex;
    align-items: center;    
    padding: 8px;
}
.content-page-navigator > .navigator-right{
    position: absolute;
    right: 16px;
}

.button-current-page{
    background-color: #019160;
    color: #fff;
    border-color: #019160;
}
.button-current-page:hover{
    background-color: #2FBE8E;
    border-color: #2FBE8E;
}
.button-current-page:active{
    background-color: #018075;
    border-color: #018075;
}

/* Navigator buttons */

.button-firstpage{
    background-image: url('../../assets/icon/btn-firstpage.svg');
    background-repeat: no-repeat;
    background-position: center;    
}
.button-lastpage{
    background-image: url('../../assets/icon/btn-lastpage.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.button-next-page{
    background-image: url('../../assets/icon/btn-next-page.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.button-prev-page{
    background-image: url('../../assets/icon/btn-prev-page.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.page-buttons{
    max-width: 460px;        
}

/* Number of rows dropdown box */

.drop-number-of-row {
    display: flex;
    flex-direction: column-reverse;    
    position: fixed;
    right: 16px;
    bottom: 12px;   
}
.drop-number-of-row .dropdown{
    height: 32px;    
}
.drop-number-of-row .dropdown-data{
    transform: translate(0, -35px);
}

/* .number-of-rows-icon{
    background-image: none;
    text-align: center;
} */
