/* Table content */

.content-table {
    position: absolute;
    top: 128px;
    height: calc(100vh - 225px - 8px);
    background-color: #fff;
    width: calc(100vw - 226px - 32px);
    margin-left: 16px;
    overflow: auto;
    z-index: 1;
}

.table-employee,
.table-customer {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 48px;
    text-align: left;
    padding-left: 10px;
    font-family: MISAGoogleSans-Bold;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
}

tbody tr {
    border-top: 1px solid #ccc;
    height: 48px;
    cursor: pointer;
}

tbody tr.selected,
tbody tr.selected td:first-child {
    background-color: #EBF4FF;
}

tbody tr:hover,
tbody tr:hover td:first-child {
    background-color: #E9EBEE;
}

tbody tr:active,
tbody tr:active td:first-child {
    background-color: #EBF4FF;
}

tbody td {
    padding-left: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tbody {
    margin-top: 0;
    padding: 0;
    height: calc(100vh - 290px);
}

table thead{
    display: table;
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 2;
}

table tbody tr {
    width: 100%;
    table-layout: fixed;
    display: table;
}

.checkbox-container {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.checkbox-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-container .checkmark {
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
    text-align: center;
}

.checkmark>.check {
    color: white;
    font-size: 12px;
    margin: 2px;
}

.checkbox-container input:checked~.checkmark {
    background-color: #019160;
    border-color: #019160;
}

/* TABLE EMPLOYEE */

/* Delete checkbox */
.table-employee tbody td:nth-child(1),
.table-employee th:nth-child(1) {
    width: 42px;
    position: sticky;
    left: 0px;
    background-color: #fff;
}



/* Employee ID */
.table-employee tbody td:nth-child(2),
.table-employee th:nth-child(2) {
    width: 100px ;
}

/* Full name */
.table-employee tbody td:nth-child(3),
.table-employee th:nth-child(3) {
    width: 140px;
}

/* Gender */
.table-employee tbody td:nth-child(4),
.table-employee th:nth-child(4) {
    width: 60px;
}

/* birthday */
.table-employee thead th:nth-child(5),
.table-employee tbody td:nth-child(5) {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
}

/* Phone number */
.table-employee tbody td:nth-child(6),
.table-employee th:nth-child(6) {
    width: 100px;
}

/* Email */
.table-employee tbody td:nth-child(7),
.table-employee th:nth-child(7) {
    width: 200px;
}

/* Position */
.table-employee tbody td:nth-child(8),
.table-employee th:nth-child(8) {
    width: 140px;
}

/* Department */
.table-employee tbody td:nth-child(9),
.table-employee th:nth-child(9) {
    width: 120px;
}

/* salary */
.table-employee th:nth-child(10),
.table-employee tr td:nth-child(10) {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    width: 120px;
}

/* Work status */
.table-employee tbody td:nth-child(11),
.table-employee th:nth-child(11) {
    width: 140px;
}

/* TABLE CUSTOMER -------------------------------------*/

/* Delete checkbox */
.table-customer tbody td:nth-child(1),
.table-customer th:nth-child(1) {
    width: 42px;
    position: sticky;
    left: 0px;
    background-color: #fff;
}

/* Customer code */
.table-customer tbody td:nth-child(2),
.table-customer th:nth-child(2) {
    width: 100px;
}

/* Full name */
.table-customer tbody td:nth-child(3),
.table-customer th:nth-child(3) {
    width: 140px;
}

/* Gender */
.table-customer tbody td:nth-child(4),
.table-customer th:nth-child(4) {
    width: 60px;
}

/* birthday */
.table-customer thead th:nth-child(5),
.table-customer tbody td:nth-child(5) {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
}

/* Phone number */
.table-customer tbody td:nth-child(6),
.table-customer th:nth-child(6) {
    width: 100px;
}

/* Email */
.table-customer tbody td:nth-child(7),
.table-customer th:nth-child(7) {
    width: 200px;
}

/* CustomerGroup */
.table-customer tbody td:nth-child(8),
.table-customer th:nth-child(8) {
    width: 120px;
}

/* CompatyName */
.table-customer tbody td:nth-child(9),
.table-customer th:nth-child(9) {
    width: 250px;
}

/* IsStopFollow */
.table-customer th:nth-child(10),
.table-customer tr td:nth-child(10) {
    padding-left: 10px;
    padding-right: 10px;
    width: 120px;
}