@import url('../css/base/button.css');
@import url('../css/base/text-box.css');
@import url('../css/base/dropdown.css');

body {
    font-family: MISAGoogleSans;
    font-size: 13px;
    margin: 0;
    /* overflow: hidden; */
    position: fixed;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@font-face {
    font-family: MISAGoogleSans;
    src: url('../content/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: MISAGoogleSans-Bold;
    src: url('../content/font/GoogleSans-Bold.otf');
}

@font-face {
    font-family: MISAGoogleSans-Italic;
    src: url('../content/font/GoogleSans-Italic.otf');
}