<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin nhân viên CUKCUK.VN</title>
    <link rel="stylesheet" href="../css/components/popup.css">
    <link rel="stylesheet" href="../css/components/popup-form.css">
    <link rel="stylesheet" href="../content/font/fontawesome-5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script>
        var F = document.getElementById("container");
        function openPopup() {
            F.style.visibility = "visible";
            F.addEventListener('click', myFunc);
        }
        function closePopup() {
            // var F = document.getElementById("container");
            F.style.visibility = "hidden";
            F.removeEventListener('click', myFunc);
        }
        // document.addEventListener('click', myFunc);
        function myFunc(e) {
            if (!document.getElementById('form-container').contains(e.target)) {
                closePopup();
                document.removeEventListener('click', myFunc);
            }
        }
    </script>
</head>

<body onload="initDropdownListener()">
    <div class="button" id="button-open-form" onclick="openPopup()">Open Form</div>


    <div class="container" id="container">
        <div class="form-container" id="form-container">
            <div class="form-header">
                <div class="header" id="form-header">THÔNG TIN NHÂN VIÊN</div>
                <div class="close-button" onclick="closePopup()"></div>
            </div>
            <div class="form-body">
                <div class="body-avatar body-column">
                    <div class="avatar"></div>
                    <div class="note">(Vui lòng chọn ảnh có định dạng <br>.jpg, .jpeg, .png, .gif)</div>
                </div>
                <div class="body-form body-column">
                    <div class="header-row">
                        <div class="header-2">
                            A. THÔNG TIN CHUNG
                            <div class="header-line"></div>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field">
                            <div class="input-label">Mã nhân viên (<span class="required">*</span>)</div>
                            <input type="text" class="textbox-default input-form" id="employee-id" value="NV000001">
                        </div>
                        <div class="input-field">
                            <div class="input-label">Họ và tên (<span class="required">*</span>)</div>
                            <input type="text" class="textbox-default input-form" id="fullname"
                                value="Nguyễn Ngọc Hưng">
                        </div>
                    </div>
                    <style>
                        .test {
                            display: flex;
                            /* background-color: tomato; */
                            justify-content: space-between;
                            align-content: space-between;
                            /* padding: 0; */
                        }
                        #test{
                            width: 100%;
                        }

                        input[type=date]{
                            background-color: transparent;
                            outline: none;
                            border-color: transparent;
                            /* position: absolute; */
                            /* background-color: teal; */
                            padding: 0;
                        }

                        input[type=date]::-webkit-datetime-edit {
                            display: none;
                            background-color: yellow;
                        }

                        input[type=date]::-webkit-inner-spin-button,
                        input[type=date]::-webkit-clear-button {
                            display: none;
                        }
                        input[type=date]::-webkit-calendar-picker-indicator{
                            /* background-color: green; */
                            margin: 0;
                            left: 0;
                        }
                        .textbox-default > input{
                            border-color: transparent;
                            outline: none;
                        }
                        .input-focus{
                            border-color: #019160;
                        }

                    </style>
                    <div class="input-row">
                        <div class="input-field">
                            <div class="input-label">Ngày sinh</div>
                            <div class="test textbox-default input-form input-focus">
                                <input type="text" class=" " id="test">
                                <input type="date" class="" id="birthday" value="2000-01-08">
                            </div>

                        </div>
                        <div class="input-field">
                            <div class="input-label">Giới tính </div>
                            <div class="form-dropdown dropdown-container">
                                <div class="dropdown">
                                    <div id="gender">Nam</div>
                                    <div class="dropdown-icon"></div>
                                </div>
                                <div class="dropdown-data" hidden="true">
                                    <div class="dropdown-item  item-selected">
                                        <i class="fas fa-check item-icon"></i>
                                        <div class="item-text">Nam</div>
                                    </div>
                                    <div class="dropdown-item">
                                        <i class="fas fa-check item-icon"></i>
                                        <div class="item-text">Nữ</div>
                                    </div>
                                    <div class="dropdown-item">
                                        <i class="fas fa-check item-icon"></i>
                                        <div class="item-text">Khác</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field">
                            <div class="input-label">Số CMTND/ Căn cước (<span class="required">*</span>)</div>
                            <input type="text" class="textbox-default input-form" id="identity-card"
                                value="038200009999">
                        </div>
                        <div class="input-field">
                            <div class="input-label">Ngày cấp</div>
                            <input type="date" class="textbox-default input-form input-form" id="identity-card-when"
                                value="2020-01-08">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field">
                            <div class="input-label">Nơi cấp </div>
                            <input type="text" class="textbox-default input-form" id="identity-card-where"
                                value="Tỉnh Thanh Hóa">
                        </div>
                    </div>
                    <div class="header-row">
                        <div class="header-2">
                            B. THÔNG TIN CÔNG VIỆC
                            <div class="header-line"></div>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field">
                            <div class="input-label">Vị trí </div>
                            <div class="form-dropdown dropdown-container">
                                <div class="dropdown">
                                    <div id="pos">Phòng đào tạo</div>
                                    <div class="dropdown-icon"></div>
                                </div>
                                <div class="dropdown-data" id="positions" hidden="true">
                                    <!-- positions go here -->
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-label">Phòng ban </div>
                            <div class="form-dropdown dropdown-container">
                                <div class="dropdown">
                                    <div id="department">Phòng nhân sự</div>
                                    <div class="dropdown-icon"></div>
                                </div>
                                <div class="dropdown-data" id="departments" hidden="true">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field">
                            <div class="input-label">Mã số thuế cá nhân </div>
                            <input type="text" class="textbox-default input-form" id="tax-id" value="123456789">
                        </div>
                        <div class="input-field">
                            <div class="input-label">Mức lương cơ bản </div>
                            <input type="text" class="textbox-default input-form input-salary" id="base-salary"
                                value="100.000.000">
                        </div>
                        <div class="money-unit">(VNĐ)</div>
                    </div>
                    <div class="input-row">
                        <div class="input-field">
                            <div class="input-label">Ngày gia nhập công ty</div>
                            <input type="date" placeholder="dd-mm-yyyy" class="textbox-default input-form"
                                id="join-date" value="2021-07-12">
                        </div>
                        <div class="input-field">
                            <div class="input-label">Tình trạng công việc </div>
                            <div class="form-dropdown dropdown-container">
                                <div class="dropdown">
                                    <div id="word-status">Đang làm việc</div>
                                    <div class="dropdown-icon"></div>
                                </div>
                                <div class="dropdown-data" hidden="true">
                                    <div class="dropdown-item  item-selected">
                                        <i class="fas fa-check item-icon"></i>
                                        <div class="item-text">Đang làm việc</div>
                                    </div>
                                    <div class="dropdown-item">
                                        <i class="fas fa-check item-icon"></i>
                                        <div class="item-text">Đang thử việc</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="button button-cancel" onclick="closePopup()">Hủy</div>
                <div class="button button-save" onclick="closePopup()">
                    <div class="icon-save"></div>
                    Lưu
                </div>
            </div>
        </div>
    </div>
    <script src="../js/dropdown.js"></script>
    <script src="../js/init.js"></script>
    <script src="../content/font/fontawesome-5.15.1/js/all.min.js"></script>
</body>

</html>